<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование задачи</title>
</head>
<body>
<h3>Редактировать задачу</h3>

<form th:method="post" th:action="@{/task/update/} + ${taskDto.task.id}" th:object="${taskDto}">
    <fieldset>
        <div>
            <label>Название: </label>
            <input type="text" th:field="*{task.title}" placeholder="Название задачи"/>
        </div>
        <div>
            <label>Описание: </label>
            <input type="text" th:field="*{task.description}" placeholder="Описание задачи"/>
        </div>
        <div>
            <label>Статус: </label>
            <select th:field="*{task.status}">
                <option th:value="0" selected="selected">Не выбрано</option>
                <option th:each="status : ${listAllStatusesTask}"
                        th:text="${status.title}"
                        th:value="${status.id}"></option>
            </select>
        </div>


        <!--Отображение списка для ввода-->

            <!--        <form action="#" th:action="@{/create2}" th:object="${form}" method="post">-->
            <fieldset>
                <table>
                    <thead>
                    <tr>
                        <th>Должность</th>
                        <th>Пользователь</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="access, itemStat : *{accesses}">
                        <!--                <td><input th:field="*{accesses[__${itemStat.index}__].id}" /></td>-->
                        <td>
                            <select th:field="*{accesses[__${itemStat.index}__].role}">
                                <option th:value="0" selected="selected">Не выбрано</option>
                                <option th:each="role : ${listAllUserRolesToTask}"
                                        th:text="${role.name}"
                                        th:value="${role.id}"></option>
                            </select>
                        </td>
                        <td>
                            <select th:field="*{accesses[__${itemStat.index}__].user}">
                                <option th:value="0" selected="selected">Не выбрано</option>
                                <option th:each="user : ${listAllUsers}"
                                        th:text="${user.name}"
                                        th:value="${user.id}"></option>
                            </select>
                        </td>
<!--                        <td><input th:field="*{accesses[__${itemStat.index}__].str}"/></td>-->
                    </tr>
                    </tbody>
                </table>
                <!--        <input type="submit" id="submitButton1" th:value="Save">-->
                <!--        <input type="reset" id="resetButton1" name="reset" th:value="Reset"/>-->
            </fieldset>


        <input type="reset" id="resetButton2" name="reset" th:value="Reset"/>
        <input type="submit" id="submitButton2" th:value="Save">
    </fieldset>
</form>

<!--    <div>-->
<!--        <label>Date:</label>-->
<!--        <input type="text" th:field="*{dateField}" placeholder="yyyy-MM-dd" />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Integer:</label>-->
<!--        <input type="number" th:field="*{numberField}" placeholder="integer" />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Double:</label>-->
<!--        <input type="text" th:field="*{doubleField}" placeholder="double" />-->
<!--    </div>-->

<!--    <div>-->
<!--        <label>Color:</label>-->
<!--        <input type="color" th:field="*{colorField}" placeholder="color" />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Date time:</label>-->
<!--        <input type="datetime-local" th:field="*{dateTimeField}" placeholder="date" />-->
<!--    </div>-->


</body>

</html>